// stylelint-disable declaration-no-important

//
// Text
//

._text-monospace { font-family: $font-family-monospace; }

// Alignment

._text-justify  { text-align: justify !important; }
._text-nowrap   { white-space: nowrap !important; }
._text-truncate { @include text-truncate; }

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    ._text#{$infix}-left   { text-align: left !important; }
    ._text#{$infix}-right  { text-align: right !important; }
    ._text#{$infix}-center { text-align: center !important; }
  }
}

// Transformation

._text-lowercase  { text-transform: lowercase !important; }
._text-uppercase  { text-transform: uppercase !important; }
._text-capitalize { text-transform: capitalize !important; }

// Weight and italics

._font-weight-light  { font-weight: $font-weight-light !important; }
._font-weight-normal { font-weight: $font-weight-normal !important; }
._font-weight-bold   { font-weight: $font-weight-bold !important; }
._font-italic        { font-style: italic !important; }

// Contextual colors

._text-white { color: $white !important; }

@each $color, $value in $theme-colors {
  @include text-emphasis-variant("._text-#{$color}", $value);
}

._text-body { color: $body-color !important; }
._text-muted { color: $text-muted !important; }

._text-black-50 { color: rgba($black, .5) !important; }
._text-white-50 { color: rgba($white, .5) !important; }

// Misc

._text-hide {
  @include text-hide($ignore-warning: true);
}
